.post-area{
  height: 100px;
  width: 100%;
  display: flex;
  border-bottom: 5px solid #ddd;
}
.post-user{
  margin: 30px 0 0 20px;
}
.form-control{
  height: 50px;


font-size:1.2em;
background: #fff;
display: block;
padding: 12px 15px;
width: 480px;
transition: 0.8s;
border-radius: 0;
resize: none;
border: none;
  width:500px;

}
.post-submit{
  margin: 10px;
}
.btn-post{
  height: 40px;
  width: 50px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  background: #3C4767 ;
  color: #FFF;
  border-bottom: solid 5px #3C4767 ;
  border-right: solid 5px #394c75 ;
  border-radius: 5px;
  cursor: pointer;
}
.posts-image{
  margin-left: 20px;
  width: 30px;
}
.tweet-box{
  width: 100%;
}
.posts-box{
  display: flex;
  margin: 60px;
}
.tweet-box{
  margin-left: 30px;

}
.posts-user{
  display: flex;
  color:rgb(136, 131, 131);
  font-size: 0.8rem;

}
.date-time{
  display: flex;
  justify-content: space-between;
  color:rgb(136, 131, 131);
  
}
.posts-time{
  font-size: 0.5rem;
}
.posts-content{
  margin: 30px 0;
  color:rgb(136, 131, 131);
  font-size: 1.2rem;
}
.label-mark{
  text-align: right;

}
i.mark-font{
  color: #65ab31;
}
.delete{
  height: 45px;
  line-height: 45px;
  width: 50px;
}
i.fa-trash-alt{
  color: #c81c14;
}
i.fa-trash-alt:hover{
  color: #fff;
  background-color: #c81c14;
  border: 5px solid #c81c14;
  border-radius: 3px;
}
.follow-list-title{
  margin: 30px;
}
.follow-list-title h1{
  font-size: 1.2rem;
  color: rgb(136, 131, 131);
}
.follow-list-image{
 width: 500px;
 margin: 0 auto;
 
}
.follow-list{
  border-bottom: 5px solid #ddd;
}




