.post-area{
  height: 100px;
  width: 100%;
  display: flex;
  border-bottom: 5px solid #ddd;
}
.post-user{
  margin: 30px 0 0 20px;
}
.form-control{
  height: 50px;
  /* border:0;
  padding:10px;
  font-size:0.5em;
  font-family:Arial, sans-serif;
  color:#aaa;
  border:solid 1px #ccc;
  margin:0 0 20px;
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; */
font-size:1.2em;
background: #fff;
display: block;
padding: 12px 15px;
width: 480px;
transition: 0.8s;
border-radius: 0;
resize: none;

  width:500px;

}
.post-submit{
  margin: 10px;
}
.btn-post{
  height: 40px;
  width: 50px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  background: #3C4767 ;
  color: #FFF;
  border-bottom: solid 5px #3C4767 ;
  border-right: solid 5px #394c75 ;
  border-radius: 5px;
  cursor: pointer;
}
