@charset "utf-8";
/* html{
} */
body{
    width: 100%;
} 
header{
    background:#3C4767;
    height: 90px;
}

/* main content */
#row{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
    width: 100%;
    
      
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}
#head{
    display: flex;
   
}
#top-header{
    margin: 0 0 0 auto;
    
    width: 300px;

}
.name{
    color: #fff;
    cursor: pointer;
    margin: 55px 0 0 auto;
    

}
#top-link-header{
    width: 200px;
    height:80px;
    display: flex;
    margin: 0 0 0 auto;
  
}
.main-image{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin:50px 5px 0 auto;
    /* margin: 50px 0 0 50px; */
    /* padding: 30px; */
    /* clip-path: circle(12.5px at 12.5px 12.5px); */
    /* 
    margin: 50px 30px; */
    /* position: absolute;
    top: 30px; */
   
}

.name::after{
    content: '';
    width: 8px;
    height: 8px;
    border: 0;
    border-bottom: solid 2px #fff;
    border-left: solid 2px #fff;
    position: absolute;
    
    margin-top: -4px;
    transform: rotate(-45deg);
}
.open::after{
    content: '';
    width: 8px;
    height: 8px;
    border: 0;
    border-bottom: solid 2px #fff;
    border-left: solid 2px #fff;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(135deg);

    margin-top: -4px;
}
.drop-menu{
    background-color: #EEEEEE;
    width: 200px;
    margin: 0 0 0 auto;
    border: solid 1px #6C6C6C;
    position: relative;
    z-index: 99;
    display: none;
}
.top-menu-header{
    height: 120px;
}
.top-menu-header li{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #6C6C6C;
}
.top-menu-header li:last-child{
    border-bottom: none;
}
.top-link{
    line-height: 40px;
    color: #3C4767;
}
input, button, textarea, select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;

  }